@for $i from 0 to 5 {
  .my-#{($i * 8)}px {
    margin-top: #{$i * 8}px;
    margin-bottom: #{$i * 8}px;
  }
  .mt-#{($i * 8)}px {
    margin-top: #{$i * 8}px;
  }
  .ml-#{($i * 8)}px {
    margin-left: #{$i * 8}px;
  }
  .mr-#{($i * 8)}px {
    margin-right: #{$i * 8}px;
  }
  .mb-#{($i * 8)}px {
    margin-bottom: #{$i * 8}px;
  }
  .pl-#{($i * 8)}px {
    padding-left: #{$i * 8}px;
  }
  .pr-#{($i * 8)}px {
    padding-right: #{$i * 8}px;
  }
  .p-#{($i * 8)}px {
    padding: #{$i * 8}px;
  }
}
