@import "styles/otls-variables.scss";
.link {
  color: $text-color;
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  font-family: "Karla", sans-serif;
}
